{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Tuiton Time</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" >
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>

<body>
    
    <div class="loader"></div>
    
    <!-- HEADER -->

    <header>
        <div class="nav">
            <h2>TUITION TIME</h2>
            <ul id="list-item">
                <li><a href="#">join</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#tuit-ins">Instructors</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="/accounts/login">Sign In</a></li>
            </ul>
            <!-- <img src="https://img.icons8.com/doodle/48/000000/menu.png"/> -->
            <i id="bar" class="fa fa-bars" aria-hidden="true"></i>
    </header>




    <section>
        <div class="back-img">
            <div class="overlay">

            </div>

        </div>
        <div class="wel-par">
            <h1>It's Tuition Time!!!!</h1>
            <div class="btn">
                <a href="/accounts/register" class="get-start-btn"> Get Started</a>
                <a href="/accounts/login" class="get-start-btn"> Login</a>
            </div>
        </div>

        <div class="web-join" data-aos="fade-up">
            <div class="join-info">
                <h1>Want to join as a Tutor?</h1>
                <h1>Get Started here ..</h1>        
                <p>We happily invite you to our community as a Tutor !!</p>    
                <a href="#" class="join-btn" > Join as a tutor here !!</a> 

            </div>

        </div>

        <div id="tuit-ins" class="tuit-ins" data-aos="fade-up">
            <div class="about">
                <h2>Hello, </h2>
                <p>We are the founders of this company</p>
            </div>
            <br>
            <br>
            <div class="people">
                <div class="ins-one">
                    <div class="ins-img">
                        <img src="{% static 'images/ins_one.jpeg' %}    " alt="">
                    </div>
                    <div class="ins-det">
                        <div class="ins-name">
                            <h4>Sai Teja</h4>
                        </div>
                        <div class="ins-profn">
                            <p>Java Instructor</p>
                        </div>
                    </div>
                </div>
                <div class="ins-one">
                    <div class="ins-img">
                        <img src="{% static 'images/ins_two.jpg' %}" alt="">
                    </div>
                    <div class="ins-det">
                        <div class="ins-name">
                            <h4>{{ins.name}}</h4>
                        </div>
                        <div class="ins-profn">
                            <p>{{ins.subject}}</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>




    <footer>
        <div class="footer" data-aos="fade-up">
            <p>Copyright &copy; 2020 Tuition Time <br> Thank You</p>
        </div>
    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        $(window).load(function() {
            $(".loader").fadeOut("slow");
        });
    </script>
    

</body>

</html>
