{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/common.css' %}"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  </head>
  <body>
    <div class="loader"></div>
    <form action="register" method="POST">
      {% csrf_token %}

      <div class="reg_img">
        <img src="{% static 'images/login.png' %}" alt="" />
        <h1>Welcome back</h1>
      </div>
      <div class="container">
        <h1>Login</h1>
        <h2>Tuition Time</h2>
        <p>Login here</p>
        <br />
        <br />
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
        <br />
        <br />
        <label for="email"><b>Email</b></label>
        <input
          type="email"
          placeholder="Enter Email"
          name="email"
          id="email"
          required
        />
        <br />
        <br />
        <label for="psw"><b>Password</b></label>
        <br />
        <input
          type="password"
          placeholder="Enter Password"
          name="psw"
          id="psw"
          required
        />

        <br />
        <br />

        <button type="submit" class="registerbtn">Register</button>
        <p>Don't have an account? <a href="/accounts/register">Register</a>.</p>
      </div>

      <div class="container signin"></div>
    </form>

    <script>
      $(window).load(function () {
        $(".loader").fadeOut("slow");
      });
    </script>
  </body>
</html>
