{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" >
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  </head>


  <body>
    <div class="loader"></div>
    <form action="register" method="POST">
      {% csrf_token %}

      <div class="reg_img">
        <img src="{% static 'images/reg.png' %}" alt="" />
        <h1>Welcome</h1>
      </div>
      <div class="container">
        <h1>Register</h1>
        <h2>Tuition Time</h2>
        <p>Please fill in this form to create an account.</p>

        <label for="first_name"><b>First Name</b></label>
        <br />
        <input
          type="text"
          placeholder="First Name"
          name="first_name"
          id="email"
          required
        />
        <br />
        <br />
        <label for="last_name"><b>Last Name</b></label>
        <br />
        <input
          type="text"
          placeholder="Last Name"
          name="last_name"
          id="email"
          required
        />
        <br />
        <br />
        <label for="user_name"><b>User Name</b></label>


        <br />
        <input
          type="text"
          placeholder="User Name"
          name="user_name"
          id="email"
          required
        />
        <br />
        <br />
        <label for="email"><b>Email</b></label>
        <br />
        <input
          type="email"
          placeholder="Enter Email"
          name="email"
          id="email"
          required
        />
        <br />
        <br />
        <label for="password"><b>Password</b></label>
        <br />
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          id="psw"
          required
        />
        <br />
        <br />
        <label for="password_repeat"><b>Repeat Password</b></label>
        <br />
        <input
          type="password"
          placeholder="Repeat Password"
          name="password_repeat"
          id="psw-repeat"
          required
        />
        <br />
        
        <p font-color = "red ">&emsp;
          {% for message in messages %}
          {{message}}
          <br>
          {% endfor %}
        </p>

        <p>
          By creating an account you agree to our
          <a href="#">Terms & Privacy</a>.
        </p>

        <button type="submit" class="registerbtn">Register</button>
        <p>Already have an account? <a href="/accounts/login">Sign in</a>.</p>
      </div>

      <div class="container signin"></div>
    </form>

    <script>
      $(window).load(function() {
        $(".loader").fadeOut("slow");
    });
    </script>
  </body>
</html>
